<header> <!-- no need to recreate this header area in css -->
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
      <!--<img src="images/profile_image.jpg" width="30" height="30" class="d-inline-block align-top" alt="Prof. William Tarimo">-->
      <i class="fa-solid fa-user"></i>
      Evan Schmelkin
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" id="button1" href="index.html"><i class="fas fa-home"></i> Home Page </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html"><i class="fas fa-info-circle"></i> About Me </a>

      </li>
      <li class="nav-item">
        <a class="nav-link active" href="blog.html"><i class="fa-solid fa-blog"></i> Blog </a>
      </li>
      <li>
        <a class="nav-link" href="projects.html"><i class="fa-solid fa-laptop-code"></i> Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="resume.html"><i class="fa-solid fa-file"></i> Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blognobootstrap.html"><i class="fa-solid fa-blog"></i> Blog with no Bootstrap </a>

    </ul>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm"> <!-- gotta try to create a version of this but in css -->
      <h1>New York Yankees Blog</h1>

      <div class="alert alert-primary" role="alert"> <!-- gotta recreate one of these in css too -->
        The creator of this site is a huge Yankees fan.
      </div>

      <a class="btn btn-primary btn-lg" href="https://www.baseball-reference.com/players/j/judgeaa01.shtml" role="button"><i class="fa-solid fa-baseball-bat-ball"></i> <!-- you can keep the fontawesome, rest has to be changed --> Aaron Judge's Baseball Reference</a>

    </div>
    <div class="col-sm">
      <p>The New York Yankees have made moves since losing Juan Soto to the New York Mets during the offseason. New signings Cody Bellinger and Paul Goldschmidt will supplement the lineup led by Aaron Judge. Last season, Aaron Judge had the highest Wins above Replacement (WAR) in the American league and the Yankees made it to the World Series, losing to the Los Angeles Dodgers. I plan to go to a bunch of Yankees home games this season. I went to a Yankees game against the 2024 White Sox last year, a team that finished with the most losses since the 1899 Cleveland Spiders.</p>
    </div>
  </div>
</div>
