<header>
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>">
      <!--<img src="images/profile_image.jpg" width="30" height="30" class="d-inline-block align-top" alt="Prof. William Tarimo">-->
      <i class="fa-solid fa-user"></i>
      Evan Schmelkin
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" id="button1" href="<%= root_path %>"><i class="fas fa-home"></i> Home Page </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html"><i class="fas fa-info-circle"></i> About Me </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html"><i class="fa-solid fa-blog"></i> Blog </a>
      </li>

    </ul>
  </nav>
</header>

<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Evan Schmelkin</h1>
    <p>Welcome to my website!
      <br>
      Please feel free to check out all of the different pages I have made for this.
      <br>
      I hope you enjoy looking at all of the different pages.
    </p>
    <br>
    <a class="btn btn-primary btn-lg" id="github" href="https://github.com/evanschmelkin" role="button"><i class="fa-brands fa-github"></i> GitHub</a>
    <%= image_tag "welcome.png"%>
    <br>
    <br>
    <div class="alert alert-info" role="alert">
      You've reached the end of the index page. Take a look at some of the other pages that I have made.
    </div>
  </div>



  <section>

  </section>

</div>